@font-face {
    font-family: 'Monoid-Regular', Helvertica, Arial, sans-serif;
    src: url(/fonts/Monoid-Regular.ttf);
    font-style: normal;
}

body {
    background-color: #001130;
    font-family: "Monoid-Regular";
}

.flex-container {
    display: flex;
    /**flex-direction: row;**/
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1em; 
}

.top-right-nav {
    margin:  52px 98px 18px 24px;
    text-align: right;
    justify-content: space-evenly;
    font-size: 16px;
}

.top-right-nav a {
    margin: 12px;
    /**padding: 20px 40px 20px 40px;**/
    padding-left: 20px;
    color: white;
    justify-content: space-evenly;
    text-decoration: none;
}

.top-right-nav button {
    margin: 5px;
    padding: 12px 22px 12px 22px;
    color: white;
    background-color: #001130;
    cursor: pointer;
    font-size: 16px;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    font-family: 'Monoid-Regular';
}

.top-right-nav button:active {
    margin: 5px;
    padding: 12px 22px 12px 22px;
    color: #001130;
    background-color: white;
    cursor: pointer;
}

/**
@media only screen and (max-width: 600px) {
    .top-right-nav a{
        margin: 200px, 50px, 150px, 50px;
        padding: 0%;
        background-color: blueviolet;
    }
    
}

@media only screen and (min-width: 600px) {
    .top-right-nav a{
        margin: 200px, 50px, 150px, 50px;
        padding: 0%;
        background-color: blueviolet;
    }
    
}
**/